@import './views/security/login.scss';

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

main {
  padding: 60px 15px 0;
}

footer {
  color: #fff;
}

