{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
    {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}
  </head>

  <body id="{% block body_id %}{% endblock %}" class="d-flex flex-column h-100 bg-light">
    {% block header %}
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container">
            <a class="navbar-brand" href="{{path('homepage')}}">Company name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <a href="{{path('security_login')}}">
                <div class="btn btn-outline-success my-2 my-sm-0 m-2">Zaloguj się</div>
              </a>
              <a href="{{path('security_register')}}">
                <div class="btn btn-outline-success my-2 my-sm-0 m-2">Zarejestruj się</div>
              </a>
            </div>
          </div>
        </nav>
      </header>
    {% endblock %}
      {% block body %}
        <main role="main" class="flex-shrink-0">
          {{ include('default/_flash_messages.html.twig') }}
          {% block main %}{% endblock %}
        </main>
      {% endblock %}

      {% block footer %}
        {# <footer class="footer mt-auto py-3 bg-dark">
          <div class="container">
            <span>Company name</span>
          </div>
        </footer> #}
      {% endblock %}

      {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
      {% endblock %}
  </body>
</html>
